version: '3.7'

services:
  my-backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/myfolder/src

    env_file:
      - ./.env.dev

    ports:
      - 3000:3000

  my-database:
    platform: linux/x86_64
    image: mysql:latest
    environment:
      MYSQL_DATABASE: 'teamproject'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - 3306:3306
